<h1>Сообщения от пользователей</h1>

<% @autors.each do |author| %>
  <% if @unread_user_id_arr.include?(author.id) %>
    <div><%= link_to author.name, message_path(author.id), class: "project__new-title" %></div>
  <% else %>
    <div><%= link_to author.name, message_path(author.id), class: "project__title" %></div>
  <% end %>
<% end %>
