.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 30px 0;
}
.form_button{
  text-align: center;
}

.setup-info {
    margin:4px;
    background-color:transparent;
    border-radius:24px;
    border:1px solid #CFCFCF;
    overflow:hidden;
    width: auto;

    &__disabled{
      pointer-events: none;
      cursor: not-allowed;
    }

    &:hover {
      background:#617AF9;
  }

    label {
      margin: 0;
      span {
        text-align:center;
        padding:5px 34px;
        display:block;
        white-space: nowrap;

    }

      input {
        position:absolute;
        top:-20px;

        &:checked + span {
          background-color:#617AF9;
          color:#FFFFFF;
      }
    }

  }

}
