.developer {

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 27rem;
    margin-top: 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__project-select {
    font-size: 0.875rem;
    margin-right: 6.25rem;
    padding-top: 0.8rem;
  }
}
