  <table>
    <strong>Commenter:</strong>
    <%= comment.user.name %>

    <strong>Comment:</strong>
    <%= comment.content %>

    <strong>Published:</strong>
    <%= comment.created_at.localtime.strftime('%d/%m/%Y %H:%M') %>
  </table>

<% if user_signed_in? %>
  <% if can? :destroy, comment %>
    <p>
      <%= link_to 'Remove Comment', comment,
                   method: :delete,
                   data: { confirm: t(:delete_confirm) } %>
    </p>
  <% end %>
<% end %>
