  <table>
    <strong>Commenter:</strong>
    <%= comment.user.name %>

    <strong>Comment:</strong>
    <%= comment.content %>

    <strong>Published:</strong>
    <%= comment.created_at.localtime.strftime('%d/%m/%Y %H:%M') %>
  </table>

  <p>
    <%= link_to 'Remove Comment', [comment.comment_owner, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
