<%= form_with(model: [ @project, @project.comments.build ], local: true) do |form| %>

  <div>
    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  </div>
<% end %>
