.top-menu {

  border-bottom: 1px solid $top-menue-border;
  display: flex;
  font-size: 0.975rem;
  font-weight: normal;
  justify-content: space-between;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  width: 12.75rem;

  a {
    text-decoration: none;
  }

  &__item {
    color: $black-color;
    text-align: center;

    &-active {
      border-bottom: 2px solid $main-blue;
      color: $main-blue;
      font-weight: bold;
      padding-bottom: 0.52rem;
    }
  }
}

