body {
  font-family: 'Open-Sans', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.body-global {
  background-color: $background-light-gray;
}

.header-wrapper {
  background-color: $white-color;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  min-height: 91vh;

  &__main {
    margin: 0 auto;
    max-width: 71.25rem;
  }

  &__head {
    background-color: $white-color;
    height: 6.25rem;
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 9.375rem;
  }
}
