$background: #f8f9fb;

body {
  background-color: $background;
  font-family: 'Open-Sans', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 90rem;
  min-height: calc(100vh - 10rem);

  &__main {
    margin: 0 auto;
    max-width: 71.25rem;
  }

  &__head {
    background-color: $white-color;
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 9.375rem;
  }
}
