$background: #f8f9fb;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background;
}

img {
  height: auto;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 71.25rem;
  min-height: calc(100vh - 10rem);
}
