$main-blue: #617af9;
$footer-blue: #223282;
$button-hover: #425bde;
$button-press: #2943c7;
$white-color: #ffffff;
$black-color: #333333;
$social-btn-border: #1a13ef;
$black-color-specific: #000000;
$social-btn-border: #e5e8ef;
$social-btn-color: #212121;
$light-gray: #bbbbbb;
$gray: #9d9ca2;
$gray-color:  #ebebeb;
$bad-note: #f0473c;
$good-note: #06ad17;
$search-shadow: #162679;
$background-light-gray: #f8f9fb;
$shadow-body: rgba(0, 0, 0, 0.05);

