$main-blue: #617af9;
$customer-blue: #2f315a;
$customer-blue-title: #223282;
$footer-blue: #223282;
$button-hover: #425bde;
$button-press: #2943c7;
$white-color: #ffffff;
$black-color: #333333;
$black-color-specific: #000000;
$social-btn-border: #e5e8ef;
$social-btn-color: #212121;
$top-menue-border: #dfe1e7;
$light-gray: #bbbbbb;
$gray: #9d9ca2;
$gray-color:  #ebebeb;
$bad-note: #f0473c;
$good-note: #06ad17;
$search-shadow: #162679;
$background-light-gray: #f8f9fb;
$shadow-body: rgba(0, 0, 0, 0.05);
$background-yellow-light: #fcedd4;
$skills-blue-opacity: rgba(97, 122, 249, 0.2);
