<header class="site-header">
  <div class="flex-grow-1"><%= link_to image_tag("laba42.svg", alt: "logo") %></div>
  <div><%= link_to image_tag("search.svg", alt: "search") %></i></div>
  <div><%= link_to do %>
         <%= content_tag :span, "Войти", class: "site-header__enter" %>
       <% end %>
  </div>
</header>
