<p>Hello <%= @user.name %>!</p>

<p>Вас утвердили для выполнения проекта размещенного на площадке <%= link_to 'Laba42', root_url %> и на который вы откликались ранее.</p>

<p>Спасибо за то, что с нами. Хорошего дня!</p>
