<div class="empty-state">
  <div class="empty-state__title">
    Давай найдем для тебя проект или работу мечты
  </div>
  <div class="empty-state__button">
    <%= link_to projects_path do %>
      <%= content_tag :span, t(:watch_project), class: "button button--blue button--large" %>
    <% end %>
  </div>
</div>
