<h3>Результаты поиска по запросу <em><%= params[:query]%></em></h3>
<% @search_results.each do |result| %>
  <h4><%= link_to result.title, result %></h4>
  <div><%= result.info.html_safe %></div>
  <hr>
<% end %>
<%= link_to 'вернуться к списку проектов', projects_path %>
