.user-form {
  margin: 4.75rem auto;
  max-width: 46.8125rem;
  padding-bottom: 16.25rem;

  &__title {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.125rem;
    margin-bottom: 2.6875rem;
    opacity: 0.5;
    text-align: center;
  }

  &__button {
    width: 10.3125rem;
  }

  &__center {
    margin-top: 4.25rem;
    text-align: center;
  }
}
