.choice {
  margin: 0 auto 26.4375rem;
  max-width: 22.5rem;

  &__button {
    margin-bottom: 2rem;
    width: 20rem;
  }

  &__text {
    font-size: 2.25rem;
    font-weight: bold;
    margin-left: -4rem;
    margin-top: 12.625rem;
    width: 37rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
  }
}
