.choice {
  margin: 0 auto 26.4375rem;
  max-width: 22.5rem;

  &__text {
    margin-top: 15.625rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
  }

  &--mr-30 {
    margin-right: 1.875rem;
  }
}
