.form-field {

  &__image {
    position: absolute;
    right: 1.31rem;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      cursor: pointer;
    }
  }

  &__relative {
    position: relative;
  }

  &__absolute {
    position: absolute;
    top: 6rem;
    z-index: 5;
  }

  &--hide {
    display: none;
  }

  input {
    background-color: $white-color;
    border: 1px solid $social-btn-border;
    border-radius: 0.125rem 0.125rem 0;
    color: $main-blue;
    padding: 1.5rem 1.25rem;
    transition: color 9999s ease-out, background-color 9999s ease-out;
    width: 100%;

    &:focus {
      background-color: $white-color;
      border: 1px solid $social-btn-border;
      border-left: 0.1875rem solid $main-blue;
    }

    &::placeholder {
      opacity: 0.5;
      color: $black-color;
    }
  }

  a {
    color: $black-color;
    margin-left: 3.125rem;
    text-decoration: underline;

    &:hover {
      color: $button-hover;
    }

    &:active {
      color: $button-press;
    }
  }
}

.bad-note {
  color: $bad-note;
  font-size: 0.875rem;
  left: 1.4375rem;
  position: absolute;
  top: 0.3rem;

  img {
    margin-bottom: 0.25rem;
    margin-left: 0.3125rem;
  }
}

.good-note {
  color: $good-note;
  font-size: 0.875rem;
  left: 1.4375rem;
  position: absolute;
  top: 0.3rem;

  img {
    margin-bottom: 0.25rem;
    margin-left: 0.3125rem;
  }
}

.not-allowed {
  cursor: not-allowed;
}
