.site-header {
  display: flex;
  height: 6.25rem;
  padding-top: 2.1875rem;

  &__enter {
    color: $main-blue;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    margin-left: 2.6875rem;
    vertical-align: middle;

    &:hover {
      color: $main-blue;
    }
  }

  a:hover {
    text-decoration: none;
  }
}
