.start-secondary {

  &__title {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 3.125rem;
    margin: 3.125rem 0 1.25rem;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -0.9375rem;
  }

  &__item {
    background-color: $white-color;
    border: 0.125rem solid $gray-color;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba($black-color-specific, 0.2);
    display: flex;
    flex-direction: column;
    height: 15rem;
    margin: 0 auto 2.5rem;
    overflow: hidden;
    position: relative;
    width: 22.5rem;

    &:hover {
      bottom: 0.25rem;
      border: 2px solid $skills-blue-opacity;
      box-shadow: 0 0.25rem 0.625rem 0 rgba($black-color-specific, 0.2);
      background-color: $skills-blue-opacity;
      transition-duration: 0.4s;
    }
  }

  &__item-wrapper {
    flex-grow: 1;
    padding: 1rem;
  }

  &__item-title {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
  }

  &__item-text {
    font-size: 0.875rem;
    margin-top: 0.9rem;
    opacity: 0.7;
    text-align: justify;
    min-height: 8rem;

  }

  &__item-subtitle-item {
    font-size: 0.75rem;
    opacity: 0.4;
  }
}
