.start-secondary {

  &__title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.125rem;
    margin: 3.125rem 0 1.25rem;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  &__item {
    background-color: $white-color;
    border: 0.125rem solid $gray-color;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    margin: 0 auto 2.5rem;
    overflow: hidden;
    position: relative;
    width: 22.5rem;

    &:hover {
      bottom: 0.25rem;
      box-shadow: 0 0.25rem 0.625rem 0 rgba($black-color-specific, 0.2);
      transition-duration: 0.4s;
    }
  }

  &__item-wrapper {
    flex-grow: 1;
    padding: 1rem;
  }

  &__item-title {
    display: inline-block;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20.5rem;
  }

  &__item-subtitle {
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    opacity: 0.4;
  }

  &__item-text {
    font-size: 0.875rem;
    height: 2.75rem;
    margin-bottom: 0.5rem;
    opacity: 0.7;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
  }

  &__item_skills {
    display: flex;
    flex-wrap: wrap;
    height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;


    &-unit {
      background-color: $skills-blue-opacity;
      color: $footer-blue;
      font-size: 0.625rem;
      letter-spacing: 0.0625rem;
      margin-right: 0.5rem;
      padding: 0.25rem 1rem;
    }
  }

  &__button {
    width: 100%;
  }
}


.my-card {
  border: 0.08rem solid $main-blue;
}
