.form-main {
  background-color: $background-light-gray;
  height: 81.6rem;
  margin: 0 auto;

  &__title {
    background-color: $background-light-gray;
    margin-bottom: 2rem;
    margin-left: 5rem;
    padding-top: 3.25rem;
    text-align: left;
  }

  &__label {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 3rem;

    &__margin0 {
      margin: 0;
    }

    &__margin-left {
      margin-bottom: 0;
      margin-left: 3rem;
      margin-top: 0;
    }

    &__radio-button {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: normal;
      line-height: 1.1875rem;
    }
  }

  &__input {
    border: 1px solid $light-gray;
    border-radius: 4px;
    height: 2.75rem;
    text-indent: 0.5rem;
  }

  &__text-area {
    border-radius: 4px;
    height: 8.25rem;
    width: 100%;
  }
}
