.tags-input-wrapper {

    background: #f9f9f9;
    padding: 10px;
    border-radius: 7px;
    max-width: 400px;
    border: 1px solid #ccc;
  }
  
  .tags-input-wrapper input {
    border: none;
    background: transparent;
    outline: none;
    width: 150px;
  }
  
  .tags-input-wrapper .tag {
    display: inline-block;
    background-color: #009432;
    color: white;
    border-radius: 40px;
    padding: 0px 3px 0px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
  }