<h1 class="developer__title"><%= t(:my_projects) %></h1>
<div class="developer-cabinet-main">

  <%= render partial: "shared/user/side-developer-profile-panel" %>

<div class="developer-cabinet-main__right-side">
  <% if @projects %>
    <% @projects.each do |project| %>
      <%= render partial: "shared/project/developer-mini-project-card", locals: { project: project } %>
    <% end %>
    </div>
  <% else  %>
    <div class="developer-cabinet-main__right-side__bottom-empty">
      <%= render partial: "shared/project/developer-empty-state-card" %>
    </div>
  <% end %>
</div>

