.background-color-empty-card {
  background-color: $background-apply-card-empty;
}

.customer {
  display: flex;

  &__body {
    background-color: $background-light-gray;
    width: 100%;
  }

  &-body-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.8125rem;
  }


  &__apply-item {
    border-radius: 0.625rem;
    box-shadow: 0 0 0.5rem 0 rgba($black-color-specific, 0.15);
    color: $black-color;
    height: 17rem;
    margin-top: 2.5rem;
    text-decoration: none;
    width: 34.5rem;

    &:hover {
      bottom: 0.25rem;
      box-shadow: 0 0.2rem 0.3rem 0.2rem rgba($black-color-specific, 0.1);
      color: $black-color;
      position: relative;
      text-decoration: none;
      top: -0.3rem;
    }
  }
}
