.customer {
  display: flex;

  &__dashboard {
    background-color: $background-light-gray;
    width: 18rem;

    a {
      color: rgba($customer-blue, 0.9);
    }

    a:hover {
      color: rgba($customer-blue, 0.9);
      text-decoration: none;
    }
  }

  &__img {
    margin-right: 0.625rem;
  }

  &-relative {
    background-color: $white-color;
    border: 0.09rem solid $skills-blue-opacity;
    border-radius: 0.2rem;
    margin: 0 auto 0.3rem;
    padding: 1.375rem 1rem;
    position: relative;

    &:hover {
      background-color: $skills-blue-opacity;
      border-radius: 0.2rem;
    }
  }

  &__arrow {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__body {
    background-color: $background-light-gray;
    width: 100%;
  }

  &-body-wrapper {
    margin: 2.5rem;
  }

  &__title {
    color: $customer-blue-title;
    font-size: 2.25rem;
  }

  &__response {
    margin: 0.625rem 0;
  }

  &__fixed {
    position: fixed;
    right: 10%;
    top: 80%;
  }
}
